@model Snylta.Models.Group

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Group</h4>
    <hr />
    <dl class="dl-horizontal"> 
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GroupUsers)
        </dt>
        @foreach (var item in Model.GroupUsers)
        {
        <dd>
            @Html.DisplayFor(model => item.User)
        </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Ändra</a> |
    <a asp-action="Index">Tillbaka till grupperna</a>
</div>
