@model Snylta.Models.Group
@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager
@using Snylta.Data;
@{User user = UserManager.FindByNameAsync(User.Identity.Name).Result;
    string userRole = user.GroupUsers.First(u => u.GroupId == Model.Id).Role?.Name;
    ViewData["Title"] = "Edit";
    ;
}

<h2>Ändra</h2>

<h4>Grupp</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<h2>Medlemmar</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Förnamn
            </th>
            <th>
                Efternamn
            </th>
            <th>
                Eventuell roll
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var member in Model.GroupUsers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => member.User.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => member.User.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => member.Role.Name)
                </td>
                @if(Constants.ConstRoles.MotherSnylt == userRole)
                {
                <td>
                    <a asp-action="RemoveMember" asp-route-groupId="@Model.Id" asp-route-userId="@member.User.Id"> Ta bort</a>
                </td>
                }

            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Index">Tillbaka till grupper</a>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
