@model Snylta.Models.ViewModels.CreateThingsComponentViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Lägg till en pryl</h2>

<h4>Pryl</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Thing.Name" class="control-label"></label>
                <input asp-for="Thing.Name" class="form-control" />
                <span asp-validation-for="Thing.Name" class="text-danger"></span>
                <label asp-for="Thing.Description" class="control-label"></label>
                <input asp-for="Thing.Description" class="form-control" />
                <span asp-validation-for="Thing.Description" class="text-danger"></span>
                <div class="form-group">

                    <label>Grupper prylen ska delas i</label>
                    <div class="custom-control custom-switch">
                        <ul>
                            @for (var i = 0; i < Model.GroupSelections.Count(); i++)
                            {
                                <li>
                                    <input class="custom-control-input" type="checkbox" asp-for="@Model.GroupSelections[i].Selected" />
                                    <label class="custom-control-label" asp-for="@Model.GroupSelections[i].Selected">@Model.GroupSelections[i].Name</label>
                                    <input type="hidden" asp-for="@Model.GroupSelections[i].Id" />
                                    <input type="hidden" asp-for="@Model.GroupSelections[i].Name" />
                                </li>
                            }
                        </ul>
                    </div>
                </div>


                <div class="form-group">

                    <p>Upload one or more files using this form:</p>
                    <input type="file" name="files" multiple />
                </div>

            </div>

                <div class="form-group">
                    <input type="submit" value="Skapa" class="btn btn-default" />
                </div>
        </form>
    </div>
</div>

<button onclick="myFunction()">Ta en bild</button>

<div id="myDIV" style="display: none">

    <div class="col-md-2"></div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Camera</div>
            <div class="panel-body">
                <div id="my_camera"></div>
                <!-- A button for taking snaps -->
                <form>
                    <input type="button" class="btn btn-success" value="Ta bild" onClick="take_snapshot()">
                    @*<input type="button" class="btn btn-success" value="Spara bild" onClick="save_snapshot()">*@
                </form>

            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Captured Photo</div>
            <div class="panel-body">
                <div id="results">Your captured image will appear here...</div>
            </div>
            <br />
            <br />
        </div>
    </div>
</div>


<div>
    <a asp-action="Index">Tillbaka till prylarna</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script>

        var counter = 0;
        function myFunction() {

            var z = document.getElementsByName('__RequestVerificationToken');
            var x = document.getElementById("myDIV");
            if (x.style.display === "none") {
                x.style.display = "block";
                Webcam.set({
                    width: 320,
                    height: 240,
                    image_format: 'jpeg',
                    jpeg_quality: 90,
                    upload_name: z[0].value
                });
                Webcam.attach('#my_camera');
            } else {
                x.style.display = "none";
                Webcam.reset();
            }
        }
    </script>
    <script src="~/js/webcamjs-master/webcam.js"></script>

    <!-- Code to handle taking the snapshot and displaying it locally -->
    <script language="JavaScript">
        function take_snapshot() {
            counter++;
            // take snapshot and get image data
            Webcam.snap(function (data_uri) {
                
                document.getElementById('results').innerHTML =
                    '<img id="snapPic" src="' +
                    data_uri +
                    '"/>';
                
                Webcam.upload(data_uri,
                    '/Things/Capture',
                    function (code, text) {
                        //alert('Photo Captured');

                    }, counter);

            });

        }

    </script>
}
