@model IEnumerable<Snylta.Models.Thing>
@inject AppSettings AppSettings

<label for="site-search"></label>
<input type="search" id="site-search" name="q"
       aria-label="Search through site content">

<button></button>

@{int i = 0; }

@if (Model.Where(t => t.Snyltningar.All(s => !s.Active)).Count() > 0)
{
    <h2>Prylar att snylta</h2>

    <!-- Tillgängliga prylar -->
    @foreach (var thing in Model.Where(t => t.Snyltningar.All(s => !s.Active)))
    {
        var cardId = "card" + i;

        <!-- Card -->
        <div class="cardContainer" id="@cardId">

            <input id="@cardId" name="searchTags" type="hidden"
                   value="
           @foreach (var tag in thing.ThingTags.Where(tt => tt.Confidence > AppSettings.Confidence))
            {
                @Html.Raw(tag.Tag.SwedishTag + " ")
           }"/>
            <a data-toggle="modal" data-target="#@cardId">
                @await Component.InvokeAsync("Card", thing)
            </a>
        </div>

        <!-- Modal -->
        <div class="modal fade " id="@cardId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">@thing.Name</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6">
                                    @await Component.InvokeAsync("Card", thing)
                                </div>
                                <div class="col-md-6">
                                    <h5>Ägare</h5>
                                    <p>@thing.Owner.UserName</p>
                                    <h5>Kontaktuppgifter</h5>
                                    @if (thing.Owner.PhoneNumber != null)
                                    {
                                        <p>Telefonnummer: @thing.Owner.PhoneNumber</p>
                                    }
                                    @if (thing.Owner.PhoneNumber != null)
                                    {
                                        <p>Epost: @thing.Owner.Email</p>
                                    }
                                    <p>Epost: magnus.tidqvist@gmail.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a asp-action="Snylta" asp-route-id="@thing.Id" class="btn btn-primary">Snylta</a>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        i++;
    }
}

@if (Model.Where(t => t.Snyltningar.Any(s => s.Active)).Count() > 0)
{
    <h2>Redan snyltade prylar</h2>

    @foreach (var thing in Model.Where(t => t.Snyltningar.Any(s => s.Active)))
    {
        var cardId = "card" + i;

        <!-- Card -->
        <div class="Snyltad">
            @await Component.InvokeAsync("Card", thing)
        </div>
        i++;
    }
}

@if (i == 0)
{
    <p>Dina gruppvänner har tyvärr inte gjort sina saker tillgängliga för snyltning. Det är legitimt att tjata om det är för en god sak, som att rädda planeten.</p>
}



@section Scripts {
    <script src="~/js/filter.js"></script>
}