@model IEnumerable<Snylta.Models.Thing>

<h2>@ViewData["Title"]</h2>
@{int i = 0;}


<!-- Tillgängliga prylar -->
@foreach (var thing in Model.Where(t => t.Snyltningar.All(s => !s.Active)))
{
    var cardId = "card" + i;

    <!-- Card -->
    <a data-toggle="modal" data-target="#@cardId">
        <div class="card d-inline-block" aria-disabled="true" style="width: 18rem; height: 24rem;">
            <img src="https://source.unsplash.com/random/286x180" class="card-img-top" width="200"> @*alt="..."*@
            <div class="card-body">
                <h5 class="card-title">@thing.Name</h5>
                <p class="card-text"><strong>ID: </strong>@thing.Id</p>
                @*<a href="#" class="btn btn-primary">Snylta</a>*@
                @*<a href="#" class="btn btn-primary disabled" tabindex="-1" aria-disabled="true">Snylta</a>*@

            </div>
        </div>
    </a>


    <!-- Modal -->
    <div class="modal fade" id="@cardId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @thing.Name
                    <a asp-action="Snylta" asp-route-id="@thing.Id" class="btn btn-primary">Snylta</a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    i++;

}


@foreach (var thing in Model.Where(t => t.Snyltningar.Any(s => s.Active)))
{
    <!-- Card -->
    <div class="card d-inline-block" style="width: 18rem; height: 24rem;">
        <div class="disabled">
            <img src="https://source.unsplash.com/random/286x180" class="card-img-top" width="200">  @*alt="..."*@
            <div class="card-body">
                <h5 class="card-title">@thing.Name</h5>
                <p class="text-danger">Denna prylen är tyvärr redan snyltad!</p>
            </div>
        </div>
    </div>
}

