@model IEnumerable<Snylta.Models.Thing>

@{
    ViewData["Title"] = "Index";
}

<h2>Mina Prylar</h2>

<p>
    <a asp-action="Create">Lägg in ny pryl</a>
</p>

<h2>Mina snyltade prylar</h2>

@{
    int i = 0;
}

@foreach (var thing in Model.Where(t => t.Snyltningar.Any(s => s.Active)))

{
    i++;
    var cardId = "card" + i;

    <!-- Card -->
    <a data-toggle="modal" data-target="#@cardId">
        <div class="card d-inline-block" style="width: 18rem;">
            <img src="https://source.unsplash.com/random/286x180" class="card-img-top" width="200"> @*alt="..."*@
            <div class="card-body">
                <h5 class="card-title">@thing.Name</h5>
                <p class="card-text"><strong>ID: </strong>@thing.Id</p>
                @*<a href="#" class="btn btn-primary">Snylta</a>*@
            </div>
        </div>
    </a>

    <!-- Modal -->
    <div class="modal fade" id="@cardId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        @**@
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">@thing.Name</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="https://source.unsplash.com/random/200x100" class="card-img-top" width="200">
                                <div class="card-body">
                                    <p>@thing.Id</p>
                                </div>
                                @thing.Name

                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <h4>Snyltad av</h4>
                                    <p>@thing.Snyltningar.FirstOrDefault(s => s.Active).Snyltare.UserName</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a asp-action="AvSnylta" asp-route-id="@thing.Id" class="btn btn-primary">AvSnylta</a>
                </div>
            </div>
        </div>
    </div>

}

    <h2>Mina outnyttjade prylar</h2>

@foreach (var thing in Model.Where(t => t.Snyltningar.All(s => !s.Active)))

{
    i++;
    var cardId = "card" + i;

    <!-- Card -->
    <a data-toggle="modal" data-target="#@cardId">
        <div class="card d-inline-block" style="width: 18rem;">
            <img src="@thing.ThingPic" class="card-img-top" width="200"> @*alt="..."*@
            <div class="card-body">
                <h5 class="card-title">@thing.Name</h5>
                <p class="card-text"><strong>Beskrivning: </strong>@thing.Description</p>

                @*<a href="#" class="btn btn-primary">Snylta</a>*@
            </div>
        </div>
    </a>

    <!-- Modal -->
    <div class="modal fade" id="@cardId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        @**@
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">@thing.Name</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="@thing.ThingPic" class="card-img-top" width="200">
                                <div class="card-body">
                                    <p>@thing.Description</p>
                                </div>
                                

                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <p>Sprid ordet om Snylta så dina saker inte behöver ligga hemma och skräpa.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a asp-action="Edit" asp-route-id="@thing.Id" class="btn btn-primary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@thing.Id" class="btn btn-primary">Delete</a>
                </div>
            </div>
        </div>
    </div>

}

