@model IEnumerable<Snylta.Models.Thing>

@{
    ViewData["Title"] = "Index";
}

<h2>Mina Prylar</h2>

@{int i = 0;}

@if (Model.Where(t => t.Snyltningar.Any(s => s.Active)).Count() > 0)
{
    <h2>Mina Snyltade Saker</h2>

    @foreach (var thing in Model.Where(t => t.Snyltningar.Any(s => s.Active)))

    {
        var cardId = "card" + i;

        <!-- Card -->
        <a data-toggle="modal" data-target="#@cardId">
            @await Component.InvokeAsync("Card", thing)
        </a>

        <!-- Modal -->
        <div class="modal fade" id="@cardId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">@thing.Name</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="~/thingimages/@thing.ThingPics[0].Pic" class="card-img-top" width="200">
                                    <div class="card-body">
                                        <p>@thing.Id</p>
                                    </div>
                                    @thing.Name

                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <h4>Snyltad av</h4>
                                        <p>@thing.Snyltningar.FirstOrDefault(s => s.Active).Snyltare.UserName</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a asp-action="AvSnylta" asp-route-id="@thing.Id" class="btn btn-primary">AvSnylta</a>
                    </div>
                </div>
            </div>
        </div>
        i++;
    }
}

@if (Model.Where(t => t.Snyltningar.All(s => !s.Active)).Count() > 0)
{

    <h2>Mina outnyttjade prylar</h2>

    @foreach (var thing in Model.Where(t => t.Snyltningar.All(s => !s.Active)))
    {
        var cardId = "card" + i;

        <!-- Card -->
        <a data-toggle="modal" data-target="#@cardId">
            @await Component.InvokeAsync("Card", thing)
        </a>

        <!-- Modal -->
        <div class="modal fade" id="@cardId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">@thing.Name</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="~/thingimages/@thing.ThingPics[0].Pic" class="card-img-top" width="200">
                                    <div class="card-body">
                                        <p>@thing.Name</p>
                                        <p>@thing.Description</p>

                                    </div>


                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <p>Sprid ordet om Snylta så dina saker inte behöver ligga hemma och skräpa.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a asp-action="Edit" asp-route-id="@thing.Id" class="btn btn-primary">Ändra</a>
                        <a asp-action="Delete" asp-route-id="@thing.Id" class="btn btn-primary">Ta bort</a>
                    </div>
                </div>
            </div>
        </div>
        i++;
    }

}

@if (i == 0)
{
    <p>Inte kan det vara så att du inte har något som andra kan snylta?</p>
}

