@model IEnumerable<Snylta.Models.Thing>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Snyltad
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @{var b = item.Snyltningar.Any(x => x.Active);}
                    @b
                </td>

                <td>

                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |

                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |

                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>

                </td>

            </tr>
        }
    </tbody>
</table>


<h2>@ViewData["Title"]</h2>

@{
    int i = 0;
}

@foreach (var thing in Model)
{
    i++;
    var cardId = "card" + i;

    <!-- Card -->
    <a data-toggle="modal" data-target="#@cardId">
        <div class="card d-inline-block" style="width: 18rem;">
            <img src="https://source.unsplash.com/random/286x180" class="card-img-top" width="200"> @*alt="..."*@
            <div class="card-body">
                <h5 class="card-title">@thing.Name</h5>
                <p class="card-text"><strong>ID: </strong>@thing.Id</p>
                @*<a href="#" class="btn btn-primary">Snylta</a>*@
            </div>
        </div>
    </a>

    <!-- Modal -->
    <div class="modal fade" id="@cardId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        @**@
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @thing.Name
                    <a asp-action="Snylta" asp-route-id="@thing.Id" class="btn btn-primary">Snylta</a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

}

